<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Emailer - Join Request</title>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,600;0,700;1,400&display=swap" rel="stylesheet">
</head>
<body style="margin:0; padding:0;">
<table style="width:100%; font-weight:400; background: #FAFAFA; font-family: 'Poppins', sans-serif;" cellpadding="15" cellspacing="0" border="0" align="center">
    <tr>
        <td>
            <table style="width:100%; max-width:600px; background: #ffffff;" cellpadding="0" cellspacing="0" border="0" align="center">
                <tr>
                    <td>
                        <table style="width:90%;" cellpadding="30" cellspacing="0" border="0" align="center">
                            <tr>
                                <td align="center" style=" border-bottom: solid 1px #eeeeee;">
                                    <a style="display: inline-block;" href="https://hlth.run/"><img src="cid:logo.png@invitationAttachment" style="display: inline-block;vertical-align:middle; max-width: 100%;" alt="img" width="190px" /></a>
                                </td>
                            </tr>
                        </table>
                        <!-- Header -->
                        <table style="width:90%;" cellpadding="30" cellspacing="0" border="0" align="center">
                            <tr>
                                <td align="center">
                                    <img style="max-width: 100%;" src="cid:welcome-img.png@invitationAttachment" alt="img" width="256px" />
                                </td>
                            </tr>
                        </table>
                        <table style="width:90%;" cellpadding="10" cellspacing="0" border="0" align="center">
                            <tr>
                                <td valign="middle" align="left" style="color: #000000; font-size: 14px; line-height: 20px;">
                                    Hey {{name}},
                                </td>
                            </tr>
                            <tr>
                                <td style="color: #000000; font-size: 14px; line-height: 20px;">
                                 You are invited by {{sender_name}} to level up your fitness with HLTH Run! Join {{sender_name}}’s group and compete against each other on the leaderboard each week for the crown of fitness champion.
                                </td>
                            </tr>
                            <tr>
                                <td style="color: #000000; font-size: 14px; line-height: 20px;">
                                   To get started click the button below! You will be redirected to the app where you can sign up and join the group.
                             Download today and get running!<br />
                                </td>
                            </tr>
                            {{!-- <tr>
                                <td style="color: #000000; font-size: 14px; line-height: 20px;">
                                    Happy Investigating!
                                </td>
                            </tr> --}}
                        </table><!--content table end-->
                        <table style="width:90%;" cellpadding="0" cellspacing="0" border="0" align="center">
                            <tr>
                                <td style="height: 20px; line-height:45px;" height="25"></td>
                            </tr>
                        </table><!--space table-->
                        <table style="width:100%;" cellpadding="15" cellspacing="0" border="0" align="center">
                            <tr>
                                <td valign="middle" align="center">
                                    <a href="https://play.google.com/store/apps/details?id=com.hlth.hlth_run" style="display: inline-block; text-decoration: none; color: #ffffff; background: #3284D0; border-radius: 5px; font-size: 14px; font-weight: 600; padding: 8px 50px;">Get it now</a>
                                </td>
                            </tr>
                        </table><!--content table end-->
                        <table style="width:90%;" cellpadding="0" cellspacing="0" border="0" align="center">
                            <tr>
                                <td style="height: 50px; line-height:45px;" height="45"></td>
                            </tr>
                        </table><!--space table-->
                    </td>
                </tr>
            </table><!--width table end-->
            <table style="width:90%;" cellpadding="0" cellspacing="0" border="0" align="center">
                <tr>
                    <td style="height: 50px; line-height:45px;" height="45"></td>
                </tr>
            </table><!--space table-->

            <table style="width:100%; max-width:600px;" cellpadding="10" cellspacing="0" border="0" align="center">
                <tr>
                    <td align="center">
                        <table cellpadding="0" cellspacing="0" border="0" align="center">
                            <tr>
                                <td valign="middle" align="center" style="padding-left:8px; padding-right: 8px;">
                                    <a href="https://twitter.com/hlth_network?s=21"><img style="max-width:100%; width: 40px;" src="cid:twitter.png@invitationAttachment"></a>
                                </td>
                                <td valign="middle" align="center" style="padding-left:8px; padding-right: 8px;">
                                    <a href="https://www.linkedin.com/company/hlthnetwork"><img style="max-width:100%; width: 40px;" src="cid:linkedin.png@invitationAttachment"></a>
                                </td>
                                <td valign="middle" align="center" style="padding-left:8px; padding-right: 8px;">
                                    <a href="https://www.facebook.com/projecthlthnetwork/"><img style="max-width:100%; width: 40px;" src="cid:fb.png@invitationAttachment"></a>
                                </td>
                                <td valign="middle" align="center" style="padding-left:8px; padding-right: 8px;">
                                    <a href="https://instagram.com/hlthnetwork?utm_medium=copy_link"><img style="max-width:100%; width: 40px;" src="cid:insta.png@invitationAttachment"></a>
                                </td>
                                <td valign="middle" align="center" style="padding-left:8px; padding-right: 8px;">
                                    <a href="https://www.reddit.com/r/HLTHnetwork/"><img style="max-width:100%; width: 40px;" src="cid:redit.png@invitationAttachment"></a>
                                </td>
                                <td valign="middle" align="center" style="padding-left:8px; padding-right: 8px;">
                                    <a href="https://t.me/HLTHRun"><img style="max-width:100%; width: 40px;" src="cid:telegram.png@invitationAttachment"></a>
                                </td>
                            </tr>
                        </table><!--social table end-->
                    </td>
                </tr>
                <tr>
                    <td>
                        <table style="width:100%;text-align: center;" cellpadding="7" cellspacing="0" border="0" align="center">
                            <tr>
                                <td style="font-family: Poppins;font-size: 14px;color: #3284D0; display: inline-block;">
                                    <a href="https://hlth.run/" style="font-family: Poppins;font-size: 14px;color: #3284D0; text-decoration: none;">Home</a>
                                </td>
                                <td style="font-family: Poppins-Medium;font-size: 14px;color: #3284D0;display: inline-block;">
                                    <a href="https://hlth.run/roadmap.html" style="font-family: Poppins;font-size: 14px;color: #3284D0; text-decoration: none;">Roadmap</a>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
            <!-- Footer table end -->

        </td>
    </tr>
</table><!--main table end-->
</body>
</html>