<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>HLTH - Run And Earn HLTH Tokens</title>
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,600;0,700;1,400&display=swap" rel="stylesheet">
</head>
<body style="margin:0; padding:0;">
	<table style="width:100%; font-weight:400; background: #FAFAFA; font-family: 'Poppins', sans-serif;" cellpadding="15" cellspacing="0" border="0" align="center">
		<tr>
			<td>
				<table style="width:100%; max-width:600px; background: #ffffff;" cellpadding="0" cellspacing="0" border="0" align="center">
					<tr>
						<td>
							<table style="width:90%;" cellpadding="0" cellspacing="0" border="0" align="center">
								<tr>
									<td align="center" style="padding-left: 30px; padding-top: 30px; padding-bottom: 30px; padding-right: 30px; border-bottom: solid 1px #eeeeee;">
										<a style="display: inline-block;" href="https://hlth.run/" target="_blank">
											<img alt="img" src="cid:logo.png@mailAttachment" style="display: inline-block; vertical-align:middle; max-width: 100%;" width="190">
										</a>
									</td>
								</tr>
							</table>
							<!-- Header -->
							<table style="width:90%;" cellpadding="30" cellspacing="0" border="0" align="center">
								<tr>
									<td align="center" style="padding-top: 30px; padding-bottom: 30px;">
										<img style="max-width: 100%;" src="cid:welcome-img.png@mailAttachment" alt="img" width="256px" />
									</td>
								</tr>
							</table>
							<!--content table-->
							<table style="width:100%;" cellpadding="0" cellspacing="0" border="0" align="left">
								<tr>
									<td valign="middle" align="left" style="padding-left: 30px; padding-right: 30px;  color: #000000; font-size: 14px; line-height: 20px;">
										Hey there 👋,
									</td>
								</tr>
							</table>	
							<!--content table end-->
							<table style="width:100%;" cellspacing="0" cellpadding="0" border="0" align="center">
								<tr>
									<td style="height: 20px; line-height:20px;" height="20"></td>
								</tr>
							</table>
							<!--space table end-->
							<table style="width:100%;" cellpadding="0" cellspacing="0" border="0" align="center">
								<tr>
									<td valign="middle" align="left" style="padding-left: 30px; padding-right: 30px;  color: #000000; font-size: 14px; line-height: 20px;">
										We see you signed up on our page! Glad to have you on-board and part of our exciting journey. We have some mind-blowing things planned out for you…
									</td>
								</tr>
							</table>	
							<!--content table end-->
							<table style="width:100%;" cellspacing="0" cellpadding="0" border="0" align="center">
								<tr>
									<td style="height: 20px; line-height:20px;" height="20"></td>
								</tr>
							</table>
							<!--space table end-->
							<table style="width:100%;" cellpadding="0" cellspacing="0" border="0" align="center">
								<tr>
									<td valign="middle" align="left" style="padding-left: 30px; padding-right: 30px;  color: #000000; font-size: 14px; line-height: 20px;">
										Such as, winning an NFT for FREE! Not only does it hold value in itself but would be vital down the line to access features of the App.
									</td>
								</tr>
							</table>	
							<!--content table end-->
							<table style="width:100%;" cellspacing="0" cellpadding="0" border="0" align="center">
								<tr>
									<td style="height: 20px; line-height:20px;" height="20"></td>
								</tr>
							</table>
							<!--space table end-->
							<table style="width:100%;" cellpadding="0" cellspacing="0" border="0" align="center">
								<tr>
									<td valign="middle" align="left" style="padding-left: 30px; padding-right: 30px;  color: #000000; font-size: 14px; line-height: 20px;">
										In order to get a shot at winning this NFT, you can purchase our HLTH Currency. That too at a discounted price 🤩 Now, we promised you upto 50% discount from the listed price at other exchanges but we have a special offer for you!
									</td>
								</tr>
							</table>	
							<!--content table end-->
							<table style="width:100%;" cellspacing="0" cellpadding="0" border="0" align="center">
								<tr>
									<td style="height: 20px; line-height:20px;" height="20"></td>
								</tr>
							</table>
							<!--space table end-->
							<table style="width:100%;" cellpadding="0" cellspacing="0" border="0" align="center">
								<tr>
									<td valign="middle" align="left" style="padding-left: 30px; padding-right: 30px;  color: #000000; font-size: 14px; line-height: 20px;">
										<span style="font-weight:700;">Instead of a 50% off</span> on purchasing the token <span style="font-weight:700;">we are giving you a 60% off</span> for the <span style="font-weight:700;">next 24Hrs</span>, isn't that crazy?
									</td>
								</tr>
							</table>	
							<!--content table end-->
								
							<!--content table end-->
							<table style="width:100%;" cellspacing="0" cellpadding="0" border="0" align="center">
								<tr>
									<td style="height: 20px; line-height:20px;" height="20"></td>
								</tr>
							</table>
							<!--space table end-->
							<table style="width:100%;" cellpadding="0" cellspacing="0" border="0" align="center">
								<tr>
									<td valign="middle" align="center" style="padding-left: 30px; padding-right: 30px;  color: #000000; font-size: 14px; line-height: 20px;">
										<a href="https://tokensale.hlth.run/" style="font-weight: 600; background-color: #3284D0; color: #ffffff; text-decoration: none; display: inline-block; padding-left: 50px; padding-right: 50px; padding-bottom: 10px; padding-top: 10px; border-radius: 4px;">Buy Now</a>
									</td>
								</tr>
							</table>	
							<!--content table end-->
							<table style="width:100%;" cellspacing="0" cellpadding="0" border="0" align="center">
								<tr>
									<td style="height: 20px; line-height:20px;" height="20"></td>
								</tr>
							</table>
							<!--space table end-->
							<table style="width:100%;" cellpadding="0" cellspacing="0" border="0" align="center">
								<tr>
									<td valign="middle" align="left" style="padding-left: 30px; padding-right: 30px;  color: #000000; font-size: 14px; line-height: 20px;">
										So, we are looking forward to your becoming an essential part of this web3 fitness revolution and we hope you win that NFT.
									</td>
								</tr>
							</table>	
							<!--content table end-->
							<table style="width:100%;" cellspacing="0" cellpadding="0" border="0" align="center">
								<tr>
									<td style="height: 20px; line-height:20px;" height="20"></td>
								</tr>
							</table>
							<!--space table end-->
							<table style="width:100%;" cellpadding="0" cellspacing="0" border="0" align="center">
								<tr>
									<td valign="middle" align="left" style="padding-left: 30px; padding-right: 30px;  color: #000000; font-size: 14px; line-height: 20px;">
										Best Wishes,
									</td>
								</tr>
							</table>	
							<!--content table end-->
							<table style="width:100%;" cellpadding="0" cellspacing="0" border="0" align="center">
								<tr>
									<td valign="middle" align="left" style="padding-left: 30px; padding-right: 30px;  color: #000000; font-size: 14px; line-height: 20px;">
										Team HLTH 
									</td>
								</tr>
							</table>	
							<!--content table end-->
							<table style="width:100%;" cellspacing="0" cellpadding="0" border="0" align="center">
								<tr>
									<td style="height: 40px; line-height: 40px;" height="40"></td>
								</tr>
							</table>
							<!--space table end-->
						</td>
					</tr>
				</table>
				<!--table end-->
			</td>
		</tr>
	</table><!--main table end-->
</body>
</html>